{% extends "base.html.twig" %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col col-lg-12">
            {{ form_start(form, {attr: {novalidate: 'novalidate'} }) }}
                {{ form_row(form.title) }}
                {{ form_row(form.slug) }}
                {{ form_row(form.add)}}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}